<div class="center">
    <h1><%= @dateHeader %></h1>
    <% #link_to "Sign up for notificiations!", new_user_registration_path, class: "btn btn-larg btn-primary" %>
    <div id="tabs">
        <ul>
    <%  for i in 1..5 %>
            <li><a href="#<%= i %>"><%= Date::DAYNAMES[i] %></a></li>
    <%  end %>
        </ul>

    <%  i = 1
        @theWeek.each do |today|  %>
        <div id="<%= i %>">
        <%  today.each_pair do |k,v| %>
              <br>
              <br>
              <h2 class="showTitle"><%= link_to k.name, k %><hr></h2>
            <div class="row-fluid">
            <%  extraSpan = 12 % v.size
                spanSize = 12 / v.size
                v.each do |episode, index|
                    if (index == v.length - 1)
                      spanSize = spanSize + extraSpan
                    end %>
                    <div class="span<%= spanSize %>">
                        <h2><%= episode.guest.name %></h2>
                    </div>
                <%  end %>
                </div>
              <hr>
        <%  end %>
        </div>
        <%  i = i + 1
        end %>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#tabs").tabs({
            active: <%= @activePanel %>
        });
    });
</script>